name: lets start
on: [push]
jobs: 
    job1:
        runs-on: ubuntu-latest
        steps:
        - name: checkout repo
          uses: actions/checkout@v6
        - name: step1
          run: echo "My first repo with actions"
        - name: list files
          run: ls
        - name: Read file
          run: cat README.md